body{
    background-color:gray;
}
.color-grid{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.color-box{
    outline:1px solid black;
    width:100px;
    height:100px;
    border-radius: 10px;
    box-shadow: 0 5px 10px green;
}
.c1{background-color:#ff0000;}
.c2{background-color: #00ff00;}
.c3{background-color: #0000ff;}
.c4{background-color: rgb(128, 0, 128);}
.c5{background-color: black;}