#email{
    background-color: seashell;
    margin: 50px auto;
    padding:50px;
    width:500px;
    border:2px solid red;
    box-sizing: border-box;
}
/* #confidential{display: inline-block;}
#top-secret{display: inline-block;} */

#top-secret{
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    border:3px solid red;
    transform:rotate(15deg);
    margin-left:200px;
    font-size: 20px;
    color: red;
}
#confidential{
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    border:3px solid red;
    transform:rotate(-20deg);
    margin-left: 100px;
    font-size: 30px;
    color: red;
}
.blurred{
    filter: blur(3px);
}

