body{
  background-image: url(download.webp);
  font-family: Arial,sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

}
p{
 margin-top:5px;
 margin-bottom:5px;
}

a{
  text-decoration:none;
}

.business-card{
    color: rgb(8, 245, 8);
  width: 500px;
  background-color:rgba(49, 43, 70, 90%);
  margin-top:100px;
  font-size:16;
  margin: left 0;;
  margin-right:0;
  text-align:center;
  border-radius:7px;
  padding: 20px 20px 40px 20px;
  

}
.profile-image{
    max-width: 100%;
    border-radius:3px;
    padding: 20px;

}
hr{
    
  
}

p{
    /* padding:5px; */
}
a{
    
    text-decoration: underline;
    
     color: rgb(8, 245, 8);;
}
a:hover{
     color: rgb(0, 148, 0);
}
