*{
    margin:0;
    padding:0;

}


body{
    background-color: grey;
    /* transition: ease (0.3s); */
    scroll-behavior: smooth;
    
    
    font-family:'Times New Roman', Times, serif;
}

section{
    margin-top: 40px;
}

#navbar{
    background-color: rgb(131, 128, 128);
    
    width:100%;
    border-bottom: 1px solid;
    
}
#navbar li{
    color: black;
    border-top:1px solid black;
    list-style:none;
}
#navbar a{
    display:block;
    padding:10px 30px;
    color:black;
    text-decoration: none;
    font-size: 1.1em;
}
#navbar a:hover{
    font-weight: 600;
    text-indent: 5px;
    transition: ease 0.3s;
}
p{
    margin: 10px;
    text-indent: 5px;
}
li{
    margin-left: 30px;

}
#main-doc{
    margin:0 auto
}
header{
    color:black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
}

code{
    display: block;
}

@media(min-width:815px){
    body{
        display: flex;
        flex-direction: row;
    }
    #navbar{width: 250px;
        position: fixed;
        height: 100%;
        border: 1px solid black;
    }
    #navbar a{
        padding:20px;
    }
    #main-doc{
        margin:0 20px;
        margin-left: 280px;
    }
}