html,body{
    height: 100%;
margin: 0;
padding: 0;
}
    
    body{
    color: red;
    background-color: palevioletred;
    background-image:url(joker.jpg.webp);
    background-repeat:repeat-y;
    background-size:cover;
}

.title{
width: 200px;
text-align: center;
margin: auto;
Background-color:rgba(49, 2, 49, 80%);
border-radius: 5px;
    padding: 3px;
}

a{
    color: red;
    display:block;
    text-align: center;
}
h2{
    text-align:center;
    
}
.projects{
    width: 100px;
    Background-color:rgba(49, 2, 49, 80%);
border-radius: 5px;
    padding: 3px;

}
